.bubble {
    margin-top: 1rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding: 0.5rem 0.75rem 0.25rem 0.75rem;
}

.action-bar {
    display: flex;
}

.left-action-bar {
    flex-direction: row;
}

.right-action-bar {
    flex-direction: row-reverse;
}

.left-bubble {
    align-self: flex-start;
    background: linear-gradient(rgb(255, 55, 95), rgb(211, 45, 85));
    color: white;
}

.right-bubble {
    align-self: flex-end;
    background: linear-gradient(rgb(220, 220, 220), rgb(200, 200, 200));
    color: black;
}

.text {
    margin-top: 0.2rem;
    line-height: 1.35;
}