.navbar {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    overflow: hidden;
    height: auto;
    z-index: 10001;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-sticky {
    position: fixed;
    top: 0;
    left: 0;
}