@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --formBackground: #d4d4d4;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
    --formBackground: #262626;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.formContainer {
  background-color: var(--formBackground);
}

fieldset {
  border-color: var(--foreground);
}