.homepage-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.action-btn:hover {
    background-color: rgb(220, 220, 220);
    color: black;
    border: 1px solid rgb(220, 220, 220);
}

.action-btn {
    background-color: transparent;
    color: rgb(220, 220, 220);
    border: 1px solid rgb(220, 220, 220);
}