.premade-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.premade-container .avatar {
    transition: transform 0.2s;
    margin: 0 20px;
    /* Add margin to create space between images */
}

.premade-container .avatar:hover {
    transform: scale(1.1);
}

.premade-container p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.listen-btn:hover,
.home-btn:hover {
    background-color: rgb(220, 220, 220);
    color: black;
    border: 1px solid rgb(220, 220, 220);
}

.listen-btn,
.home-btn {
    background-color: transparent;
    color: rgb(220, 220, 220);
    border: 1px solid rgb(220, 220, 220);
}

.chat-btn {
    background: linear-gradient(rgb(255, 45, 85), rgb(211, 15, 69));
    border: 1px solid rgb(211, 45, 85);
    color: white;
}